body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* App.js */

body {
    background-color: #dcf6f9;
    color: #181f25;
}

/* Homepage style*/
.homepage-title, .homepage-subtitle {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.homepage-button {
    background-color: #995d81;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: large;
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}


/* MainForm style */
.main-form-title {
    text-align: center;
}
.search-form {
    margin: 16px auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.form-group {
    align-self: baseline;
}

.form-input {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid lightgray;
    padding: 6px;
}

.submit-button {
    background-color: #995d81;
    color: white;
    border: none;
    padding: 6px 12px;
    width: 180px;
    font-size: 20px;
}