body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.js */

body {
  /*background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);*/
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); 
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: bisque;
  font-family: courier;
  font-size: 120%;
  text-align: center;
}
p {
  /* font-family: verdana; */
  color: white;
  font-family: courier;
  font-size: 100%;
}


/* MainForm css */

.search-form {
  width: 200px;
  margin: 16px auto;
}

.form-group {
  
}

.form-input {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid lightgray;
  padding: 6px;
}

.submit-button {
  background-color: plum;
  color: white;
  border: none;
  padding: 6px 12px;
}